{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <link rel="stylesheet" href="{% static 'css/authstyle.css' %}">
  <!-- Add in <head> -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

<!-- Add before closing </body> -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

</head>
<body>
  <div class="wrapper">
    <h2>Register</h2>
    <form method="post" action="{% url 'register' %}">
      {% csrf_token %}
      <input type="text" name="username" placeholder="Username" required>
      <input type="email" name="email" placeholder="Email" required>
      <input type="password" name="password1" placeholder="Password" required>
      <input type="password" name="password2" placeholder="Confirm Password" required>
      <input type="submit" value="Register">
      <div class="link">
        Already have an account? <a href="{% url 'login' %}">Login here</a>
      </div>
    </form>
  </div>
</body>
</html>
